h1{
    color: white;
}

p {
    color: white;
    font-size: 40
}

body {
    background-color: black; 
    transition: 1s background-color;
}


.button-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



#email {
    padding-left: 2em;
    padding-right: 2em;
    height: 2.5em;
    border-radius: 1.25em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



#email:hover {
    background-color: white;
}


#email:hover h1{
    color: black;
}
